.elementor-21262 .elementor-element.elementor-element-2cf277d{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--flex-wrap:wrap;--align-content:flex-start;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:60px;--padding-bottom:60px;--padding-left:20px;--padding-right:20px;}.elementor-21262 .elementor-element.elementor-element-47d83b9{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 15px;--row-gap:0px;--column-gap:15px;--flex-wrap:wrap;--align-content:flex-start;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-21262 .elementor-element.elementor-element-217a171 .elementor-heading-title{font-family:"Manrope", Sans-serif;font-size:15px;font-weight:500;color:#FF4500;}.elementor-21262 .elementor-element.elementor-element-217a171 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:9px 16px 9px 16px;background-color:#FFFAF8;border-style:solid;border-width:1px 1px 1px 1px;border-color:#FF6900;border-radius:30px 30px 30px 30px;box-shadow:0px 0px 1px 2px rgba(0, 0, 0, 0.05);}.elementor-21262 .elementor-element.elementor-element-cdaa2ad{text-align:start;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-cdaa2ad .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:56px;font-weight:600;text-transform:none;line-height:60px;letter-spacing:-2px;color:#111827;}.elementor-21262 .elementor-element.elementor-element-cdaa2ad > .elementor-widget-container{margin:32px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-029d5c8{text-align:start;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-029d5c8 .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:20px;font-weight:400;text-transform:none;line-height:32px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-029d5c8 > .elementor-widget-container{margin:0px 0px 40px 0px;padding:0px 0px 0px 0px;}.elementor-widget-button .elementor-button{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );background-color:var( --e-global-color-accent );}.elementor-21262 .elementor-element.elementor-element-c4e3524 .elementor-button{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:500;text-transform:capitalize;fill:#FFFFFF;color:#FFFFFF;background-color:transparent;background-image:linear-gradient(180deg, #FF6E24 0%, #FF4500 100%);border-style:solid;border-color:#FF6E24;border-radius:30px 30px 30px 30px;}.elementor-21262 .elementor-element.elementor-element-ff0568e .elementor-button{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:500;text-transform:capitalize;fill:#0C0C0C;color:#0C0C0C;background-color:#61CE7000;border-style:solid;border-width:2px 2px 2px 2px;border-color:#0C0C0C;border-radius:30px 30px 30px 30px;}.elementor-21262 .elementor-element.elementor-element-ff0568e .elementor-button:hover, .elementor-21262 .elementor-element.elementor-element-ff0568e .elementor-button:focus{color:#FF4500;border-color:#FF4500;}.elementor-21262 .elementor-element.elementor-element-ff0568e .elementor-button:hover svg, .elementor-21262 .elementor-element.elementor-element-ff0568e .elementor-button:focus svg{fill:#FF4500;}.elementor-21262 .elementor-element.elementor-element-16a8ea8{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-21262 .elementor-element.elementor-element-6f8d0ae .elementor-wrapper{--video-aspect-ratio:1.33333;}.elementor-21262 .elementor-element.elementor-element-b0088ea{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--gap:0px 20px;--row-gap:0px;--column-gap:20px;--flex-wrap:wrap;--align-content:flex-start;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:64px;--padding-bottom:64px;--padding-left:20px;--padding-right:20px;}.elementor-21262 .elementor-element.elementor-element-b0088ea.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-21262 .elementor-element.elementor-element-142623a .elementor-heading-title{font-family:"Manrope", Sans-serif;font-size:15px;font-weight:500;color:#FF4500;}.elementor-21262 .elementor-element.elementor-element-142623a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:9px 16px 9px 16px;background-color:#FFFAF8;border-style:solid;border-width:1px 1px 1px 1px;border-color:#FF6900;border-radius:30px 30px 30px 30px;box-shadow:0px 0px 1px 2px rgba(0, 0, 0, 0.05);}.elementor-21262 .elementor-element.elementor-element-c6d87b9{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-c6d87b9 .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:40px;font-weight:600;text-transform:none;line-height:48px;letter-spacing:-1px;color:#171717;}.elementor-21262 .elementor-element.elementor-element-c6d87b9 > .elementor-widget-container{margin:012px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-8638766{text-align:center;width:var( --container-widget-width, 80% );max-width:80%;--container-widget-width:80%;--container-widget-flex-grow:0;}.elementor-21262 .elementor-element.elementor-element-8638766 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;line-height:30px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-8638766 > .elementor-widget-container{margin:0px 0px 40px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-fe409d1{--display:flex;--min-height:300px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--flex-wrap:wrap;--align-content:space-between;--overflow:hidden;--border-radius:20px 20px 20px 20px;box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.2);--padding-top:24px;--padding-bottom:24px;--padding-left:24px;--padding-right:24px;}.elementor-21262 .elementor-element.elementor-element-d0131e3 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:40px;font-weight:600;line-height:40px;letter-spacing:-0.25px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-d0131e3 .elementor-heading-title a:hover, .elementor-21262 .elementor-element.elementor-element-d0131e3 .elementor-heading-title a:focus{color:#000000;}.elementor-widget-icon-box.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon{fill:var( --e-global-color-primary );color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-icon-box .elementor-icon-box-title, .elementor-widget-icon-box .elementor-icon-box-title a{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-icon-box .elementor-icon-box-title{color:var( --e-global-color-primary );}.elementor-widget-icon-box:has(:hover) .elementor-icon-box-title,
					 .elementor-widget-icon-box:has(:focus) .elementor-icon-box-title{color:var( --e-global-color-primary );}.elementor-widget-icon-box .elementor-icon-box-description{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-21262 .elementor-element.elementor-element-9ffd9bc .elementor-icon-box-wrapper{text-align:start;}.elementor-21262 .elementor-element.elementor-element-9ffd9bc .elementor-icon-box-title{margin-block-end:12px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-9ffd9bc .elementor-icon-box-title, .elementor-21262 .elementor-element.elementor-element-9ffd9bc .elementor-icon-box-title a{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:500;line-height:32px;}.elementor-21262 .elementor-element.elementor-element-9ffd9bc:has(:hover) .elementor-icon-box-title,
					 .elementor-21262 .elementor-element.elementor-element-9ffd9bc:has(:focus) .elementor-icon-box-title{color:#000000;}.elementor-21262 .elementor-element.elementor-element-9ffd9bc .elementor-icon-box-description{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;line-height:24px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-9ffd9bc{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-670115e{--display:flex;--min-height:300px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--flex-wrap:wrap;--align-content:space-between;--overflow:hidden;--border-radius:20px 20px 20px 20px;box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.2);--padding-top:24px;--padding-bottom:24px;--padding-left:24px;--padding-right:24px;}.elementor-21262 .elementor-element.elementor-element-6f6d835 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:40px;font-weight:600;line-height:40px;letter-spacing:-0.25px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-6f6d835 .elementor-heading-title a:hover, .elementor-21262 .elementor-element.elementor-element-6f6d835 .elementor-heading-title a:focus{color:#000000;}.elementor-21262 .elementor-element.elementor-element-116b5f5 .elementor-icon-box-wrapper{text-align:start;}.elementor-21262 .elementor-element.elementor-element-116b5f5 .elementor-icon-box-title{margin-block-end:12px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-116b5f5 .elementor-icon-box-title, .elementor-21262 .elementor-element.elementor-element-116b5f5 .elementor-icon-box-title a{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:500;line-height:32px;}.elementor-21262 .elementor-element.elementor-element-116b5f5:has(:hover) .elementor-icon-box-title,
					 .elementor-21262 .elementor-element.elementor-element-116b5f5:has(:focus) .elementor-icon-box-title{color:#000000;}.elementor-21262 .elementor-element.elementor-element-116b5f5 .elementor-icon-box-description{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;line-height:24px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-116b5f5{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-7228731{--display:flex;--min-height:300px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--flex-wrap:wrap;--align-content:space-between;--overflow:hidden;--border-radius:20px 20px 20px 20px;box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.2);--padding-top:24px;--padding-bottom:24px;--padding-left:24px;--padding-right:24px;}.elementor-21262 .elementor-element.elementor-element-a518e22 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:40px;font-weight:600;line-height:40px;letter-spacing:-0.25px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-a518e22 .elementor-heading-title a:hover, .elementor-21262 .elementor-element.elementor-element-a518e22 .elementor-heading-title a:focus{color:#000000;}.elementor-21262 .elementor-element.elementor-element-9f6a044 .elementor-icon-box-wrapper{text-align:start;}.elementor-21262 .elementor-element.elementor-element-9f6a044 .elementor-icon-box-title{margin-block-end:12px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-9f6a044 .elementor-icon-box-title, .elementor-21262 .elementor-element.elementor-element-9f6a044 .elementor-icon-box-title a{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:500;line-height:32px;}.elementor-21262 .elementor-element.elementor-element-9f6a044:has(:hover) .elementor-icon-box-title,
					 .elementor-21262 .elementor-element.elementor-element-9f6a044:has(:focus) .elementor-icon-box-title{color:#000000;}.elementor-21262 .elementor-element.elementor-element-9f6a044 .elementor-icon-box-description{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;line-height:24px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-9f6a044{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-810507c{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--flex-wrap:wrap;--align-content:flex-start;--padding-top:60px;--padding-bottom:60px;--padding-left:20px;--padding-right:20px;}.elementor-21262 .elementor-element.elementor-element-810507c:not(.elementor-motion-effects-element-type-background), .elementor-21262 .elementor-element.elementor-element-810507c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-21262 .elementor-element.elementor-element-3c247c8{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-21262 .elementor-element.elementor-element-64a0222{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-64a0222 .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:42px;font-weight:600;text-transform:none;line-height:50px;letter-spacing:-1px;color:#FFFFFF;}.elementor-21262 .elementor-element.elementor-element-64a0222 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-776c0e9{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-776c0e9 .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:20px;font-weight:400;text-transform:none;line-height:32px;color:#FFFFFF;}.elementor-21262 .elementor-element.elementor-element-776c0e9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-98c42c8{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-21262 .elementor-element.elementor-element-906e8f4{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--gap:0px 20px;--row-gap:0px;--column-gap:20px;--flex-wrap:wrap;--align-content:flex-start;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:64px;--padding-bottom:64px;--padding-left:0px;--padding-right:0px;}.elementor-21262 .elementor-element.elementor-element-906e8f4:not(.elementor-motion-effects-element-type-background), .elementor-21262 .elementor-element.elementor-element-906e8f4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFF6F1;}.elementor-21262 .elementor-element.elementor-element-52956a4{text-align:center;}.elementor-21262 .elementor-element.elementor-element-52956a4 .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:40px;font-weight:600;text-transform:none;line-height:48px;letter-spacing:-1px;color:#171717;}.elementor-21262 .elementor-element.elementor-element-52956a4 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-698b655{text-align:center;width:var( --container-widget-width, 80% );max-width:80%;--container-widget-width:80%;--container-widget-flex-grow:0;}.elementor-21262 .elementor-element.elementor-element-698b655 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;line-height:30px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-698b655 > .elementor-widget-container{margin:0px 0px 40px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-edfba11{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#E0E0E0;--border-color:#E0E0E0;--border-radius:20px 20px 20px 20px;--padding-top:18px;--padding-bottom:18px;--padding-left:18px;--padding-right:18px;}.elementor-21262 .elementor-element.elementor-element-edfba11:not(.elementor-motion-effects-element-type-background), .elementor-21262 .elementor-element.elementor-element-edfba11 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-21262 .elementor-element.elementor-element-edfba11:hover{box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.2);}.elementor-21262 .elementor-element.elementor-element-6bd01e1 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:500;line-height:32px;letter-spacing:-0.25px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-6bd01e1 > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-21262 .elementor-element.elementor-element-fad40d0 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;line-height:24px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-fad40d0 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-21262 .elementor-element.elementor-element-d9279ee > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-6f21a23{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#E0E0E0;--border-color:#E0E0E0;--border-radius:20px 20px 20px 20px;--padding-top:18px;--padding-bottom:18px;--padding-left:18px;--padding-right:18px;}.elementor-21262 .elementor-element.elementor-element-6f21a23:not(.elementor-motion-effects-element-type-background), .elementor-21262 .elementor-element.elementor-element-6f21a23 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-21262 .elementor-element.elementor-element-6f21a23:hover{box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.2);}.elementor-21262 .elementor-element.elementor-element-73fa729 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:500;line-height:32px;letter-spacing:-0.25px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-73fa729 > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-21262 .elementor-element.elementor-element-deb235d .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;line-height:24px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-deb235d > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-1e40405 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-2423f92{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:#E0E0E0;--border-color:#E0E0E0;--border-radius:20px 20px 20px 20px;--padding-top:18px;--padding-bottom:18px;--padding-left:18px;--padding-right:18px;}.elementor-21262 .elementor-element.elementor-element-2423f92:not(.elementor-motion-effects-element-type-background), .elementor-21262 .elementor-element.elementor-element-2423f92 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-21262 .elementor-element.elementor-element-2423f92:hover{box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.2);}.elementor-21262 .elementor-element.elementor-element-f8d3934 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:500;line-height:32px;letter-spacing:-0.25px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-f8d3934 > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-21262 .elementor-element.elementor-element-4636221 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:400;line-height:24px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-4636221 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-f3709b6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-69a1076{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--flex-wrap:wrap;--align-content:flex-start;--padding-top:60px;--padding-bottom:60px;--padding-left:20px;--padding-right:20px;}.elementor-21262 .elementor-element.elementor-element-d5236c6{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-21262 .elementor-element.elementor-element-e5100c6 .elementor-wrapper{--video-aspect-ratio:1.33333;}.elementor-21262 .elementor-element.elementor-element-4582e05{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-21262 .elementor-element.elementor-element-9417d94{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-9417d94 .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:42px;font-weight:600;text-transform:none;line-height:50px;letter-spacing:-1px;color:#000000;}.elementor-21262 .elementor-element.elementor-element-9417d94 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-0528585{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-0528585 .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:20px;font-weight:400;text-transform:none;line-height:32px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-0528585 > .elementor-widget-container{margin:0px 0px 30px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-e6cb705{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--gap:0px 20px;--row-gap:0px;--column-gap:20px;--flex-wrap:wrap;--align-content:flex-start;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:60px;--padding-bottom:60px;--padding-left:20px;--padding-right:20px;}.elementor-21262 .elementor-element.elementor-element-e6cb705:not(.elementor-motion-effects-element-type-background), .elementor-21262 .elementor-element.elementor-element-e6cb705 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFF6F1;}.elementor-21262 .elementor-element.elementor-element-ff7eeb8{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-ff7eeb8 .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:42px;font-weight:600;text-transform:none;line-height:50px;letter-spacing:-1px;color:#171717;}.elementor-21262 .elementor-element.elementor-element-ff7eeb8 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-eae4f4b{text-align:center;width:var( --container-widget-width, 75% );max-width:75%;--container-widget-width:75%;--container-widget-flex-grow:0;}.elementor-21262 .elementor-element.elementor-element-eae4f4b .elementor-heading-title{font-family:"Inter", Sans-serif;font-size:20px;font-weight:400;text-transform:none;line-height:32px;color:#4E545D;}.elementor-21262 .elementor-element.elementor-element-eae4f4b > .elementor-widget-container{margin:0px 0px 40px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-2e353a4 .elementor-button{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:500;text-transform:capitalize;fill:#FFFFFF;color:#FFFFFF;background-color:transparent;background-image:linear-gradient(180deg, #FF6E24 0%, #FF4500 100%);border-style:solid;border-color:#FF6E24;border-radius:30px 30px 30px 30px;}.elementor-21262 .elementor-element.elementor-element-2e353a4{width:var( --container-widget-width, 48% );max-width:48%;--container-widget-width:48%;--container-widget-flex-grow:0;}.elementor-21262 .elementor-element.elementor-element-c7e52a7 .elementor-button{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:500;text-transform:capitalize;fill:#0C0C0C;color:#0C0C0C;background-color:#FFFFFF;border-style:solid;border-width:2px 2px 2px 2px;border-color:#0C0C0C;border-radius:30px 30px 30px 30px;}.elementor-21262 .elementor-element.elementor-element-c7e52a7 .elementor-button:hover, .elementor-21262 .elementor-element.elementor-element-c7e52a7 .elementor-button:focus{color:#FF4500;border-color:#FF4500;}.elementor-21262 .elementor-element.elementor-element-c7e52a7 .elementor-button:hover svg, .elementor-21262 .elementor-element.elementor-element-c7e52a7 .elementor-button:focus svg{fill:#FF4500;}.elementor-21262 .elementor-element.elementor-element-c7e52a7{width:var( --container-widget-width, 48% );max-width:48%;--container-widget-width:48%;--container-widget-flex-grow:0;}:root{--page-title-display:none;}@media(min-width:768px){.elementor-21262 .elementor-element.elementor-element-2cf277d{--content-width:1280px;}.elementor-21262 .elementor-element.elementor-element-47d83b9{--width:65%;}.elementor-21262 .elementor-element.elementor-element-16a8ea8{--width:34%;}.elementor-21262 .elementor-element.elementor-element-b0088ea{--content-width:1280px;}.elementor-21262 .elementor-element.elementor-element-fe409d1{--width:32%;}.elementor-21262 .elementor-element.elementor-element-670115e{--width:32%;}.elementor-21262 .elementor-element.elementor-element-7228731{--width:32%;}.elementor-21262 .elementor-element.elementor-element-810507c{--content-width:1280px;}.elementor-21262 .elementor-element.elementor-element-3c247c8{--width:38%;}.elementor-21262 .elementor-element.elementor-element-98c42c8{--width:58%;}.elementor-21262 .elementor-element.elementor-element-906e8f4{--content-width:1280px;}.elementor-21262 .elementor-element.elementor-element-edfba11{--width:32%;}.elementor-21262 .elementor-element.elementor-element-6f21a23{--width:32%;}.elementor-21262 .elementor-element.elementor-element-2423f92{--width:32%;}.elementor-21262 .elementor-element.elementor-element-69a1076{--content-width:1280px;}.elementor-21262 .elementor-element.elementor-element-d5236c6{--width:38%;}.elementor-21262 .elementor-element.elementor-element-4582e05{--width:60%;}.elementor-21262 .elementor-element.elementor-element-e6cb705{--content-width:1280px;}}@media(max-width:1024px) and (min-width:768px){.elementor-21262 .elementor-element.elementor-element-47d83b9{--width:100%;}.elementor-21262 .elementor-element.elementor-element-16a8ea8{--width:100%;}.elementor-21262 .elementor-element.elementor-element-fe409d1{--width:30%;}.elementor-21262 .elementor-element.elementor-element-670115e{--width:30%;}.elementor-21262 .elementor-element.elementor-element-7228731{--width:30%;}.elementor-21262 .elementor-element.elementor-element-3c247c8{--width:100%;}.elementor-21262 .elementor-element.elementor-element-98c42c8{--width:100%;}.elementor-21262 .elementor-element.elementor-element-edfba11{--width:46%;}.elementor-21262 .elementor-element.elementor-element-6f21a23{--width:46%;}.elementor-21262 .elementor-element.elementor-element-2423f92{--width:46%;}.elementor-21262 .elementor-element.elementor-element-d5236c6{--width:100%;}.elementor-21262 .elementor-element.elementor-element-4582e05{--width:100%;}}@media(max-width:1024px){.elementor-21262 .elementor-element.elementor-element-2cf277d{--gap:40px 0px;--row-gap:40px;--column-gap:0px;}.elementor-21262 .elementor-element.elementor-element-cdaa2ad .elementor-heading-title{font-size:48px;line-height:56px;}.elementor-21262 .elementor-element.elementor-element-029d5c8 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-c6d87b9 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-c6d87b9{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-fe409d1{--margin-top:0px;--margin-bottom:20px;--margin-left:0px;--margin-right:0px;}.elementor-21262 .elementor-element.elementor-element-670115e{--margin-top:0px;--margin-bottom:20px;--margin-left:0px;--margin-right:0px;}.elementor-21262 .elementor-element.elementor-element-7228731{--margin-top:0px;--margin-bottom:20px;--margin-left:0px;--margin-right:0px;}.elementor-21262 .elementor-element.elementor-element-810507c{--gap:30px 0px;--row-gap:30px;--column-gap:0px;}.elementor-21262 .elementor-element.elementor-element-64a0222{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-906e8f4{--gap:0px 10px;--row-gap:0px;--column-gap:10px;--padding-top:64px;--padding-bottom:64px;--padding-left:20px;--padding-right:20px;}.elementor-21262 .elementor-element.elementor-element-52956a4 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-52956a4{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-edfba11{--margin-top:0px;--margin-bottom:20px;--margin-left:0px;--margin-right:0px;}.elementor-21262 .elementor-element.elementor-element-6f21a23{--margin-top:0px;--margin-bottom:20px;--margin-left:0px;--margin-right:0px;}.elementor-21262 .elementor-element.elementor-element-2423f92{--margin-top:0px;--margin-bottom:20px;--margin-left:0px;--margin-right:0px;}.elementor-21262 .elementor-element.elementor-element-69a1076{--gap:30px 0px;--row-gap:30px;--column-gap:0px;}.elementor-21262 .elementor-element.elementor-element-9417d94{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-ff7eeb8{width:100%;max-width:100%;}}@media(max-width:767px){.elementor-21262 .elementor-element.elementor-element-2cf277d{--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--gap:30px 0px;--row-gap:30px;--column-gap:0px;--padding-top:50px;--padding-bottom:50px;--padding-left:15px;--padding-right:15px;}.elementor-21262 .elementor-element.elementor-element-47d83b9{--justify-content:center;--gap:0px 15px;--row-gap:0px;--column-gap:15px;}.elementor-21262 .elementor-element.elementor-element-217a171 .elementor-heading-title{font-size:12px;}.elementor-21262 .elementor-element.elementor-element-217a171 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 10px 10px 10px;}.elementor-21262 .elementor-element.elementor-element-cdaa2ad{text-align:center;}.elementor-21262 .elementor-element.elementor-element-cdaa2ad .elementor-heading-title{font-size:32px;line-height:40px;}.elementor-21262 .elementor-element.elementor-element-cdaa2ad > .elementor-widget-container{margin:20px 0px 10px 0px;padding:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-029d5c8{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-029d5c8 .elementor-heading-title{font-size:16px;line-height:24px;}.elementor-21262 .elementor-element.elementor-element-029d5c8 > .elementor-widget-container{margin:0px 0px 24px 0px;}.elementor-21262 .elementor-element.elementor-element-c4e3524 .elementor-button{font-size:12px;border-width:2px 2px 2px 2px;padding:15px 11px 15px 11px;}.elementor-21262 .elementor-element.elementor-element-ff0568e .elementor-button{font-size:12px;padding:15px 12px 15px 12px;}.elementor-21262 .elementor-element.elementor-element-b0088ea{--padding-top:50px;--padding-bottom:50px;--padding-left:20px;--padding-right:20px;}.elementor-21262 .elementor-element.elementor-element-142623a .elementor-heading-title{font-size:12px;}.elementor-21262 .elementor-element.elementor-element-142623a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 10px 10px 10px;}.elementor-21262 .elementor-element.elementor-element-c6d87b9 .elementor-heading-title{font-size:24px;line-height:32px;}.elementor-21262 .elementor-element.elementor-element-c6d87b9 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-21262 .elementor-element.elementor-element-8638766{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-8638766 .elementor-heading-title{font-size:13px;line-height:18px;}.elementor-21262 .elementor-element.elementor-element-8638766 > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-21262 .elementor-element.elementor-element-9ffd9bc .elementor-icon-box-title, .elementor-21262 .elementor-element.elementor-element-9ffd9bc .elementor-icon-box-title a{font-size:20px;}.elementor-21262 .elementor-element.elementor-element-9ffd9bc .elementor-icon-box-description{font-size:14px;}.elementor-21262 .elementor-element.elementor-element-9ffd9bc{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-116b5f5 .elementor-icon-box-title, .elementor-21262 .elementor-element.elementor-element-116b5f5 .elementor-icon-box-title a{font-size:20px;}.elementor-21262 .elementor-element.elementor-element-116b5f5 .elementor-icon-box-description{font-size:14px;}.elementor-21262 .elementor-element.elementor-element-116b5f5{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-9f6a044 .elementor-icon-box-title, .elementor-21262 .elementor-element.elementor-element-9f6a044 .elementor-icon-box-title a{font-size:20px;}.elementor-21262 .elementor-element.elementor-element-9f6a044 .elementor-icon-box-description{font-size:14px;}.elementor-21262 .elementor-element.elementor-element-9f6a044{width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-810507c{--gap:30px 0px;--row-gap:30px;--column-gap:0px;}.elementor-21262 .elementor-element.elementor-element-64a0222 .elementor-heading-title{font-size:24px;line-height:32px;}.elementor-21262 .elementor-element.elementor-element-64a0222 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-21262 .elementor-element.elementor-element-776c0e9{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-776c0e9 .elementor-heading-title{font-size:16px;line-height:26px;}.elementor-21262 .elementor-element.elementor-element-776c0e9 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-906e8f4{--padding-top:50px;--padding-bottom:50px;--padding-left:20px;--padding-right:20px;}.elementor-21262 .elementor-element.elementor-element-52956a4 .elementor-heading-title{font-size:24px;line-height:32px;}.elementor-21262 .elementor-element.elementor-element-52956a4 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-21262 .elementor-element.elementor-element-698b655{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-698b655 .elementor-heading-title{font-size:13px;line-height:18px;}.elementor-21262 .elementor-element.elementor-element-698b655 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-21262 .elementor-element.elementor-element-edfba11{--padding-top:16px;--padding-bottom:16px;--padding-left:16px;--padding-right:16px;}.elementor-21262 .elementor-element.elementor-element-6bd01e1 .elementor-heading-title{font-size:20px;line-height:1.2em;}.elementor-21262 .elementor-element.elementor-element-6bd01e1 > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-21262 .elementor-element.elementor-element-fad40d0{text-align:start;}.elementor-21262 .elementor-element.elementor-element-fad40d0 .elementor-heading-title{font-size:13px;line-height:18px;}.elementor-21262 .elementor-element.elementor-element-fad40d0 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-21262 .elementor-element.elementor-element-d9279ee img{width:100%;max-width:100%;height:100%;object-fit:cover;}.elementor-21262 .elementor-element.elementor-element-d9279ee > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-6f21a23{--padding-top:16px;--padding-bottom:16px;--padding-left:16px;--padding-right:16px;}.elementor-21262 .elementor-element.elementor-element-73fa729 .elementor-heading-title{font-size:20px;line-height:1.2em;}.elementor-21262 .elementor-element.elementor-element-73fa729 > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-21262 .elementor-element.elementor-element-deb235d{text-align:start;}.elementor-21262 .elementor-element.elementor-element-deb235d .elementor-heading-title{font-size:13px;line-height:18px;}.elementor-21262 .elementor-element.elementor-element-deb235d > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-21262 .elementor-element.elementor-element-1e40405 img{width:100%;max-width:100%;height:100%;object-fit:cover;}.elementor-21262 .elementor-element.elementor-element-1e40405 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-2423f92{--padding-top:16px;--padding-bottom:16px;--padding-left:16px;--padding-right:16px;}.elementor-21262 .elementor-element.elementor-element-f8d3934 .elementor-heading-title{font-size:20px;line-height:1.2em;}.elementor-21262 .elementor-element.elementor-element-f8d3934 > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-21262 .elementor-element.elementor-element-4636221{text-align:start;}.elementor-21262 .elementor-element.elementor-element-4636221 .elementor-heading-title{font-size:13px;line-height:18px;}.elementor-21262 .elementor-element.elementor-element-4636221 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-21262 .elementor-element.elementor-element-f3709b6 img{width:100%;max-width:100%;height:100%;object-fit:cover;}.elementor-21262 .elementor-element.elementor-element-f3709b6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-21262 .elementor-element.elementor-element-69a1076{--gap:30px 0px;--row-gap:30px;--column-gap:0px;}.elementor-21262 .elementor-element.elementor-element-9417d94 .elementor-heading-title{font-size:24px;line-height:32px;}.elementor-21262 .elementor-element.elementor-element-9417d94 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-21262 .elementor-element.elementor-element-0528585{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-0528585 .elementor-heading-title{font-size:16px;line-height:26px;}.elementor-21262 .elementor-element.elementor-element-0528585 > .elementor-widget-container{margin:0px 0px 24px 0px;}.elementor-21262 .elementor-element.elementor-element-e6cb705{--gap:0px 5px;--row-gap:0px;--column-gap:5px;--padding-top:50px;--padding-bottom:50px;--padding-left:15px;--padding-right:15px;}.elementor-21262 .elementor-element.elementor-element-ff7eeb8 .elementor-heading-title{font-size:24px;line-height:32px;}.elementor-21262 .elementor-element.elementor-element-ff7eeb8 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-21262 .elementor-element.elementor-element-eae4f4b{text-align:center;width:100%;max-width:100%;}.elementor-21262 .elementor-element.elementor-element-eae4f4b .elementor-heading-title{font-size:16px;line-height:26px;}.elementor-21262 .elementor-element.elementor-element-eae4f4b > .elementor-widget-container{margin:0px 0px 24px 0px;}.elementor-21262 .elementor-element.elementor-element-2e353a4 .elementor-button{font-size:12px;border-width:2px 2px 2px 2px;padding:15px 11px 15px 11px;}.elementor-21262 .elementor-element.elementor-element-2e353a4{--container-widget-width:46%;--container-widget-flex-grow:0;width:var( --container-widget-width, 46% );max-width:46%;}.elementor-21262 .elementor-element.elementor-element-c7e52a7 .elementor-button{font-size:12px;padding:15px 12px 15px 12px;}.elementor-21262 .elementor-element.elementor-element-c7e52a7{--container-widget-width:46%;--container-widget-flex-grow:0;width:var( --container-widget-width, 46% );max-width:46%;}}/* Start custom CSS for html, class: .elementor-element-bded279 *//* ===========================
   MAIN CONTAINER
=========================== */

.ai-search-demo{

    width:100%;
    max-width:100%;
    height:320px;

    background:#fff;

    border:1px solid #E7E7E7;
    border-radius:28px;

    overflow:hidden;

    display:flex;
    flex-direction:column;

    box-shadow:
    0 15px 40px rgba(0,0,0,.05);
    padding : 30px 0px 0px;
}


/* ===========================
   CONVERSATION AREA
=========================== */

.conversation{

    flex:1;

    overflow:hidden;

    display:flex;
    flex-direction:column;

    gap:18px;

    padding:30px;

}


/* ===========================
   MESSAGE
=========================== */

.message{

    display:flex;
    flex-direction:column;

    gap:10px;

    opacity:0;

    transform:translateY(25px);

    transition:.45s cubic-bezier(.22,.61,.36,1);

}

.message.show{

    opacity:1;

    transform:translateY(0);

}


/* ===========================
   QUESTION
=========================== */

.question{

    font-size:17px;

    font-weight:600;

    color:#000;

    line-height:1.5;

}


/* ===========================
   ANSWER
=========================== */

.answer{

    color:#4F4F4F;

    font-size:15px;

    line-height:1.8;

    padding-left:18px;

    border-left:2px solid #000;

    min-height:24px;

    white-space:pre-wrap;

}


/* ===========================
   LOADING DOTS
=========================== */

.loading{

    display:flex;

    gap:5px;

    margin-left:18px;

    height:14px;

}

.loading span{

    width:7px;
    height:7px;

    border-radius:50%;

    background:#000;

    animation:dot 1s infinite;

}

.loading span:nth-child(2){

    animation-delay:.2s;

}

.loading span:nth-child(3){

    animation-delay:.4s;

}

@keyframes dot{

    0%{

        transform:translateY(0);
        opacity:.3;

    }

    50%{

        transform:translateY(-6px);
        opacity:1;

    }

    100%{

        transform:translateY(0);
        opacity:.3;

    }

}


/* ===========================
   SEARCH AREA
=========================== */

.search-container{

    padding:24px;

    border-top:1px solid #ECECEC;

    background:#fff;

}


/* ===========================
   SEARCH BOX
=========================== */

.search-box{

    height:64px;

    border:1px solid #DADADA;

    border-radius:999px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding-left:24px;

    padding-right:12px;

    transition:.35s;

}

.search-box:focus-within{

    border-color:#000;

    box-shadow:0 0 0 4px rgba(0,0,0,.05);

}


/* ===========================
   TYPING AREA
=========================== */

.typing-area{

    display:flex;

    align-items:center;

    gap:2px;

    font-size:17px;

    font-weight:500;

    color:#000;

    min-height:24px;

}


/* ===========================
   CURSOR
=========================== */

.cursor{

    width:2px;

    height:20px;

    background:#000;

    animation:blink .8s infinite;

}

@keyframes blink{

    50%{

        opacity:0;

    }

}


/* ===========================
   SEND BUTTON
=========================== */

#sendBtn{

    width:46px;
    height:46px;

    border:none;

    outline:none;

    border-radius:50%;

    background:#000;

    color:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:.25s;

}

#sendBtn svg{

    width:20px;
    height:20px;

}

#sendBtn:hover{

    transform:scale(1.08);

}

#sendBtn:active{

    transform:scale(.92);

}


/* JS adds this class */

#sendBtn.sending{

    animation:send .45s ease;

}

@keyframes send{

    0%{

        transform:translateX(0) scale(1);

    }

    50%{

        transform:translateX(8px) scale(.9);

    }

    100%{

        transform:translateX(0) scale(1);

    }

}


/* ===========================
   SCROLL EFFECT
=========================== */

.conversation.scroll{

    animation:scrollUp .6s ease;

}

@keyframes scrollUp{

    from{

        transform:translateY(20px);

    }

    to{

        transform:translateY(0);

    }

}


/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:768px){


    .ai-search-demo{

        height:300px;

    }

    .conversation{

        padding:22px;

    }

    .search-container{

        padding:18px;

    }

    .question{

        font-size:16px;

    }

    .answer{

        font-size:14px;

    }

    .search-box{

        height:58px;

    }

}/* End custom CSS */
/* Start custom CSS */.elementor-widget-video .elementor-wrapper iframe, .elementor-widget-video .elementor-wrapper video{
    background-color: #ffffff !important;
}

.spenza-icon {

  transition : background 0.6s ease-in-out;

}

.spenza-icon-box:hover {
background: linear-gradient(90deg, #FF6E24 0%, #FF4500 100%);


}

.spenza-icon-box svg path {

  fill : #000000 !important


}

.spenza-icon-box:hover svg path {

  fill : #ffffff !important


}
.spenza-icon-box:hover h3 {

  color : #ffffff !important


}
.spenza-icon-box:hover p {

  color : #ffffff !important


}

.spenza-icon-box {
    position: relative;
    overflow: hidden;
    height: 300px; /* Your desired height */
}

.brush-canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    z-index: 1;
}

/* Keep your actual content above the canvas */
.spenza-icon-box > *:not(.brush-canvas) {
    position: relative;
    z-index: 2;
}



.gform_wrapper.gravity-theme .gfield_label {
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500 !important;
    line-height: 24px;
    color: #000000 !important;
}

.ginput_container input {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background: #fff !important;
}

div#gform_fields_20 select#input_20_10 {
    border: 1px solid #D9D9D9 !important;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 24px;
    color: #28282842;
}
.gform_footer.before {
    justify-content: center;
}
input#gform_submit_button_20 {
    background: linear-gradient(90deg, #FF6E24 0%, #FF4500 100%);
    color: #ffffff !important;
    font-family: 'Inter';
    border-radius: 20px;
    font-size: 18px;
    padding: 11px 24px;
}
option {
    color: #000 !important;
    font-family: "proxima-nova", sans-serif !important;
}/* End custom CSS */