<div data-elementor-type="wp-page" data-elementor-id="25" class="elementor elementor-25" data-elementor-post-type="page">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-9fe8646 elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9fe8646" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4d251e5" data-id="4d251e5" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-7ca51d5 elementor-widget elementor-widget-heading" data-id="7ca51d5" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">International Roaming Plans</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-040cdc6 elementor-widget elementor-widget-text-editor" data-id="040cdc6" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Global eSIM plans that keep you connected in 150 countries</p>								</div>
				</div>
				<div class="elementor-element elementor-element-9b54b7c elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="9b54b7c" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-d2db2e2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d2db2e2" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8245e77" data-id="8245e77" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-dc255f4 elementor-widget elementor-widget-heading" data-id="dc255f4" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Zone A</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-6718684 elementor-widget elementor-widget-text-editor" data-id="6718684" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>51 countries</p>								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-a70f248" data-id="a70f248" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f894211 elementor-widget elementor-widget-heading" data-id="f894211" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Zone B</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-2a481ae elementor-widget elementor-widget-text-editor" data-id="2a481ae" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>100 countries</p>								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d406dd1" data-id="d406dd1" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a77c31c elementor-widget elementor-widget-heading" data-id="a77c31c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Global </h2>				</div>
				</div>
				<div class="elementor-element elementor-element-3053468 elementor-widget elementor-widget-text-editor" data-id="3053468" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>150 countries</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-bcc4364 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bcc4364" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e506d58" data-id="e506d58" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-0b1e06a elementor-widget elementor-widget-price-table" data-id="0b1e06a" data-element_type="widget" data-e-type="widget" data-widget_type="price-table.default">
				<div class="elementor-widget-container">
					
		<div class="elementor-price-table">
							<div class="elementor-price-table__header">
											<h3 class="elementor-price-table__heading">
						Roaming — 2GB						</h3>
					
											<span class="elementor-price-table__subheading">
							<div class="main tootip">51 countries <div class="country_tooltip"> <p>Australia Austria Belgium Bulgaria Cambodia Canada China Croatia Cyprus Czech Republic Denmark Estonia Finland France Germany Greece Guadeloupe Hong Kong Hungary Iceland Ireland Israel Italy Kazakhstan Korea, Republic of Laos Latvia Liechtenstein Lithuania Luxembourg Malta Myanmar Netherlands New Zealand Norway Philippines Poland Portugal Reunion Romania Russia Slovakia Slovenia Spain Sweden Switzerland Taiwan Thailand Turkey United Kingdom United States </p> </div> </div>						</span>
									</div>
			
			<div class="elementor-price-table__price">
								<span class="elementor-price-table__currency">$</span>									<span class="elementor-price-table__integer-part">
						10					</span>
				
				
				
									<span class="elementor-price-table__period elementor-typo-excluded">/plan</span>							</div>

							<ul class="elementor-price-table__features-list">
											<li class="elementor-repeater-item-6a34779">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										2GB Data Only									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-a466a00">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										30 days validity									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-5fb56dc">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										eSIM									</span>
																</div>
						</li>
									</ul>
			
					</div>

						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7ddca12" data-id="7ddca12" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-c74f6b4 elementor-widget elementor-widget-price-table" data-id="c74f6b4" data-element_type="widget" data-e-type="widget" data-widget_type="price-table.default">
				<div class="elementor-widget-container">
					
		<div class="elementor-price-table">
							<div class="elementor-price-table__header">
											<h3 class="elementor-price-table__heading">
						Roaming — 2GB						</h3>
					
											<span class="elementor-price-table__subheading">
							<div class="main tootip"> Zone A + 49 countries <div class="country_tooltip"> <p>Afghanistan Albania Armenia Azerbaijan Bangladesh Belarus Benin Botswana Cameroon Chad Chile Congo, Dem. Rep of Faroe Islands Gabon Georgia Ghana Gibraltar Guam Guernsey Guinea-Bissau India Indonesia Japan Jersey Kuwait Kyrgyzstan Lesotho Macao Macedonia MalaysiaMan, Isle of Moldova Montenegro Mozambique Pakistan Qatar Rwanda Saudi Arabia Serbia Singapore South Africa Sri Lanka Sudan Eswatini (Swaziland) Tajikistan Tanzania Tunisia Ukraine Vietnam </p> </div> </div>						</span>
									</div>
			
			<div class="elementor-price-table__price">
								<span class="elementor-price-table__currency">$</span>									<span class="elementor-price-table__integer-part">
						30					</span>
				
				
				
									<span class="elementor-price-table__period elementor-typo-excluded">/plan</span>							</div>

							<ul class="elementor-price-table__features-list">
											<li class="elementor-repeater-item-6a34779">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										2GB Data Only									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-a466a00">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										30 days validity									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-5fb56dc">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										eSIM									</span>
																</div>
						</li>
									</ul>
			
					</div>

						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e140d8b" data-id="e140d8b" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-e41df08 elementor-widget elementor-widget-price-table" data-id="e41df08" data-element_type="widget" data-e-type="widget" data-widget_type="price-table.default">
				<div class="elementor-widget-container">
					
		<div class="elementor-price-table">
							<div class="elementor-price-table__header">
											<h3 class="elementor-price-table__heading">
						Roaming — 2GB						</h3>
					
											<span class="elementor-price-table__subheading">
							<div class="main tootip"> Zone A &amp; B+ 50 countries <div class="country_tooltip"> <p>Algeria Argentina Bahrain Bermuda Bosnia Herzegovina Brazil Brunei Burkina Faso Colombia Costa Rica Dominican Republic Ecuador Egypt El Salvador Fiji Greenland Guatemala Guinea HondurasIvory Coast Jordan Kenya Liberia Madagascar Malawi Mexico Nepal Nicaragua Niger Nigeria Oman Palestinian Territory Panama Papua New Guinea Paraguay Peru Puerto Rico Samoa Senegal Sierra Leone Togo Tonga Uganda United Arab Emirates Uruguay Uzbekistan Vanuatu Yemen Zambia Mongolia </p> </div> </div>						</span>
									</div>
			
			<div class="elementor-price-table__price">
								<span class="elementor-price-table__currency">$</span>									<span class="elementor-price-table__integer-part">
						40					</span>
				
				
				
									<span class="elementor-price-table__period elementor-typo-excluded">/plan</span>							</div>

							<ul class="elementor-price-table__features-list">
											<li class="elementor-repeater-item-6a34779">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										2GB Data Only									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-a466a00">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										30 days validity									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-5fb56dc">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										eSIM									</span>
																</div>
						</li>
									</ul>
			
					</div>

						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-6965994 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6965994" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2a1ae6e" data-id="2a1ae6e" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d075dd2 elementor-widget elementor-widget-price-table" data-id="d075dd2" data-element_type="widget" data-e-type="widget" data-widget_type="price-table.default">
				<div class="elementor-widget-container">
					
		<div class="elementor-price-table">
							<div class="elementor-price-table__header">
											<h3 class="elementor-price-table__heading">
						Roaming — 5GB						</h3>
					
											<span class="elementor-price-table__subheading">
							<div class="main tootip">51 countries <div class="country_tooltip"> <p>Australia Austria Belgium Bulgaria Cambodia Canada China Croatia Cyprus Czech Republic Denmark Estonia Finland France Germany Greece Guadeloupe Hong Kong Hungary Iceland Ireland Israel Italy Kazakhstan Korea, Republic of Laos Latvia Liechtenstein Lithuania Luxembourg Malta Myanmar Netherlands New Zealand Norway Philippines Poland Portugal Reunion Romania Russia Slovakia Slovenia Spain Sweden Switzerland Taiwan Thailand Turkey United Kingdom United States </p> </div> </div>						</span>
									</div>
			
			<div class="elementor-price-table__price">
								<span class="elementor-price-table__currency">$</span>									<span class="elementor-price-table__integer-part">
						20					</span>
				
				
				
									<span class="elementor-price-table__period elementor-typo-excluded">/plan</span>							</div>

							<ul class="elementor-price-table__features-list">
											<li class="elementor-repeater-item-6a34779">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										5GB Data Only									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-a466a00">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										30 days validity									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-5fb56dc">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										eSIM									</span>
																</div>
						</li>
									</ul>
			
					</div>

						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-614a833" data-id="614a833" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-5a9eb5d elementor-widget elementor-widget-price-table" data-id="5a9eb5d" data-element_type="widget" data-e-type="widget" data-widget_type="price-table.default">
				<div class="elementor-widget-container">
					
		<div class="elementor-price-table">
							<div class="elementor-price-table__header">
											<h3 class="elementor-price-table__heading">
						Roaming — 5GB						</h3>
					
											<span class="elementor-price-table__subheading">
							<div class="main tootip"> Zone A + 49 countries <div class="country_tooltip"> <p>Afghanistan Albania Armenia Azerbaijan Bangladesh Belarus Benin Botswana Cameroon Chad Chile Congo, Dem. Rep of Faroe Islands Gabon Georgia Ghana Gibraltar Guam Guernsey Guinea-Bissau India Indonesia Japan Jersey Kuwait Kyrgyzstan Lesotho Macao Macedonia MalaysiaMan, Isle of Moldova Montenegro Mozambique Pakistan Qatar Rwanda Saudi Arabia Serbia Singapore South Africa Sri Lanka Sudan Eswatini (Swaziland) Tajikistan Tanzania Tunisia Ukraine Vietnam </p> </div> </div>						</span>
									</div>
			
			<div class="elementor-price-table__price">
								<span class="elementor-price-table__currency">$</span>									<span class="elementor-price-table__integer-part">
						60					</span>
				
				
				
									<span class="elementor-price-table__period elementor-typo-excluded">/plan</span>							</div>

							<ul class="elementor-price-table__features-list">
											<li class="elementor-repeater-item-6a34779">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										5GB Data Only									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-a466a00">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										30 days validity									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-5fb56dc">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										eSIM									</span>
																</div>
						</li>
									</ul>
			
					</div>

						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-00914c7" data-id="00914c7" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-1b6f808 elementor-widget elementor-widget-price-table" data-id="1b6f808" data-element_type="widget" data-e-type="widget" data-widget_type="price-table.default">
				<div class="elementor-widget-container">
					
		<div class="elementor-price-table">
							<div class="elementor-price-table__header">
											<h3 class="elementor-price-table__heading">
						Roaming — 5GB						</h3>
					
											<span class="elementor-price-table__subheading">
							<div class="main tootip"> Zone A &amp; B+ 50 countries <div class="country_tooltip"> <p>Algeria Argentina Bahrain Bermuda Bosnia Herzegovina Brazil Brunei Burkina Faso Colombia Costa Rica Dominican Republic Ecuador Egypt El Salvador Fiji Greenland Guatemala Guinea HondurasIvory Coast Jordan Kenya Liberia Madagascar Malawi Mexico Nepal Nicaragua Niger Nigeria Oman Palestinian Territory Panama Papua New Guinea Paraguay Peru Puerto Rico Samoa Senegal Sierra Leone Togo Tonga Uganda United Arab Emirates Uruguay Uzbekistan Vanuatu Yemen Zambia Mongolia </p> </div> </div>						</span>
									</div>
			
			<div class="elementor-price-table__price">
								<span class="elementor-price-table__currency">$</span>									<span class="elementor-price-table__integer-part">
						85					</span>
				
				
				
									<span class="elementor-price-table__period elementor-typo-excluded">/plan</span>							</div>

							<ul class="elementor-price-table__features-list">
											<li class="elementor-repeater-item-6a34779">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										5GB Data Only									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-a466a00">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										30 days validity									</span>
																</div>
						</li>
											<li class="elementor-repeater-item-5fb56dc">
							<div class="elementor-price-table__feature-inner">
								<i aria-hidden="true" class="far fa-check-circle"></i>																	<span>
										eSIM									</span>
																</div>
						</li>
									</ul>
			
					</div>

						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-19b36ce elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="19b36ce" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="https://calendly.com/spenza/discovery" target="_blank">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="far fa-arrow-alt-circle-right"></i>			</span>
									<span class="elementor-button-text">Schedule a no obligation call now</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>