<div id="content" class="site-content">
		<div class="ast-container">
		

	<div id="primary" class="content-area primary">

		
					<main id="main" class="site-main">
				<article class="post-3303 page type-page status-publish ast-article-single" id="post-3303" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
	
				<header class="entry-header ">
				<h1 class="entry-title" itemprop="headline">Network operator terms of service</h1>			</header> <!-- .entry-header -->
		
<div class="entry-content clear" itemprop="text">

	
	<p><span style="font-weight: 400;">iSimplexity resells the products and services on our Marketplace as the authorized reseller of the Network Operators. </span></p>
<p><span style="font-weight: 400;">In addition to the iSimplexity Terms of service and privacy policy, the use of the iSimplexity products and services will be governed by the terms and conditions prescribed by the Network Operators. The terms and conditions specific to each Network Operator are listed below:</span></p>
<table>
<tbody>
<tr>
<td><span style="font-weight: 400;">Network Operator/ Vendor</span></td>
<td><span style="font-weight: 400;">URL</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">AT&amp;T</span></td>
<td><span style="font-weight: 400;">https://www.att.com/legal/terms.attWebsiteTermsOfUse.html</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Boom US</span></td>
<td><span style="font-weight: 400;">https://boom.us/pages/terms-and-conditions</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">T-Mobile</span></td>
<td><span style="font-weight: 400;">https://www.t-mobile.com/responsibility/legal/terms-and-conditions</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">Verizon</span></td>
<td><span style="font-weight: 400;">https://www.verizon.com/about/terms-conditions/overview</span></td>
</tr>
</tbody>
</table>
<p>For questions or objections, please write to support@preprod.spenza.com</p>

	
	
</div><!-- .entry-content .clear -->

	
	
</article><!-- #post-## -->

			</main><!-- #main -->
			
		
	</div><!-- #primary -->


	</div> <!-- ast-container -->
	</div>