<div data-elementor-type="footer" data-elementor-id="10094" class="elementor elementor-10094 elementor-location-footer" data-elementor-post-type="elementor_library">
			<div class="elementor-element elementor-element-90f9cf8 e-flex e-con-boxed e-con e-parent" data-id="90f9cf8" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-edc7d4e e-con-full e-flex e-con e-child" data-id="edc7d4e" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-7890242 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="7890242" data-element_type="widget" data-e-type="widget" data-widget_type="theme-site-logo.default">
				<div class="elementor-widget-container">
											<a href="/">
			<img src="/spenza-logo-vector.svg" width="1264" height="428" class="attachment-full size-full wp-image-17810" alt="" style="width:112px;height:auto;max-width:none;object-fit:contain">				</a>
											</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-6e4071c e-con-full e-flex e-con e-child" data-id="6e4071c" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-bbd4765 elementor-widget elementor-widget-heading" data-id="bbd4765" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">The connectivity management platform (MVNO/MVNE) for device OEMs, MSPs, and enterprise IoT teams.</p>				</div>
				</div>
				<div class="elementor-element elementor-element-de9ca95 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="de9ca95" data-element_type="widget" data-e-type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
							<div class="elementor-social-icons-wrapper elementor-grid" role="list">
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-5f2718d" href="http://linkedin.com/company/spenza" target="_blank">
						<span class="elementor-screen-only">Linkedin</span>
						<i aria-hidden="true" class="fab fa-linkedin"></i>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-x-twitter elementor-repeater-item-ee4e3d2" href="https://x.com/Spenzahq" target="_blank">
						<span class="elementor-screen-only">X-twitter</span>
						<i aria-hidden="true" class="fab fa-x-twitter"></i>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon- elementor-repeater-item-d77537a" href="mailto:sales@spenza.com">
						<span class="elementor-screen-only"></span>
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M19 4.91238V15.7272C19 16.4301 18.451 16.9992 17.773 16.9992H14.9087V9.78988L10 13.6076L5.09125 9.78988V17H2.227C2.06581 17 1.90619 16.9671 1.75727 16.9031C1.60836 16.8391 1.47306 16.7454 1.35911 16.6271C1.24517 16.5089 1.1548 16.3686 1.09318 16.2142C1.03157 16.0598 0.999902 15.8943 1 15.7272V4.91238C1 3.33942 2.73175 2.44136 3.94525 3.38529L5.09125 4.27713L10 8.09329L14.9087 4.27558L16.0547 3.38529C17.2675 2.44214 19 3.33942 19 4.91238Z" fill="black"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-reddit elementor-repeater-item-dc81d8b" href="https://www.reddit.com/user/SpenzaHQ/" target="_blank">
						<span class="elementor-screen-only">Reddit</span>
						<i aria-hidden="true" class="fab fa-reddit"></i>					</a>
				</span>
					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-7d74881 elementor-widget elementor-widget-heading" data-id="7d74881" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Location</p>				</div>
				</div>
				<div class="elementor-element elementor-element-346b702 elementor-widget elementor-widget-heading" data-id="346b702" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">isimplexity Inc, 651 N Broad St, Suite 201 Middletown, Delaware, 19709 USA<br>
<br>
Banglore, India</p>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-99df768 e-con-full e-flex e-con e-child" data-id="99df768" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-6239170 elementor-widget elementor-widget-heading" data-id="6239170" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Solutions</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-4bc2f00 elementor-align-start elementor-tablet-align-start elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="4bc2f00" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="/connected-devices/">

											<span class="elementor-icon-list-text">For Connected Devices</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/iot-solutions/">

											<span class="elementor-icon-list-text">For Internet of Things</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/mvne/">

											<span class="elementor-icon-list-text">For Connectivity Providers</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/travel-esim/">

											<span class="elementor-icon-list-text">Travel eSIM</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/connectivity-revenue-optimization/">

											<span class="elementor-icon-list-text">Connectivity Revenue Optimization</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/ai-phone-number/">

											<span class="elementor-icon-list-text">Phone Service for AI Agents	</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-71981a6 e-con-full e-flex e-con e-child" data-id="71981a6" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-b6ad199 elementor-widget elementor-widget-heading" data-id="b6ad199" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Resources</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-9dc2290 elementor-align-start elementor-tablet-align-start elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="9dc2290" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="/blog/">

											<span class="elementor-icon-list-text">Blog</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/faq/">

											<span class="elementor-icon-list-text">FAQ</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/mvno-calculator/">

											<span class="elementor-icon-list-text">MVNO Launch Cost Calculator</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/unlimited-data-plans-pricing/">

											<span class="elementor-icon-list-text">US Mobile Plans</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/business-roaming-packs/">

											<span class="elementor-icon-list-text">Business Roaming Plans</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/esim-compatibility-checker/">

											<span class="elementor-icon-list-text">eSIM Compatibility Checker</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-3c4aab4 e-con-full e-flex e-con e-child" data-id="3c4aab4" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-11f754f elementor-widget elementor-widget-heading" data-id="11f754f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Company</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-7c94530 elementor-align-start elementor-tablet-align-start elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7c94530" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="/about-us/">

											<span class="elementor-icon-list-text">About Us</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/careers/">

											<span class="elementor-icon-list-text">Careers</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/support/">

											<span class="elementor-icon-list-text">Support</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/contact-us/">

											<span class="elementor-icon-list-text">Contact Us</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="mailto:sales@spenza.com">

											<span class="elementor-icon-list-text">sales@spenza.com</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="mailto:support@spenza.com">

											<span class="elementor-icon-list-text">support@spenza.com</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-8f71325 e-con-full e-flex e-con e-child" data-id="8f71325" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-58a3a4d elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="58a3a4d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">© 2026 isimplexity Inc (Spenza), All Rights Reserved</p>				</div>
				</div>
				<div class="elementor-element elementor-element-a22a6db elementor-icon-list--layout-inline elementor-align-end elementor-tablet-align-center elementor-widget__width-initial elementor-widget-tablet__width-inherit footer-list elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a22a6db" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items elementor-inline-items">
							<li class="elementor-icon-list-item elementor-inline-item">
											<a href="/privacy-policy/" target="_blank">

											<span class="elementor-icon-list-text">Privacy Policy</span>
											</a>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
											<a href="/terms-of-service/" target="_blank">

											<span class="elementor-icon-list-text">Terms of Service </span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				</div>
					</div>
				</div>
				</div>